anonymous_enable={{ anonymous_enable }}
write_enable={{ write_enable }}
connect_from_port_20={{ connect_from_port_20 }}
anon_upload_enable={{ anon_upload_enable }}
local_umask={{ local_umask }}
listen={{ listen }}
listen_ipv6={{ listen_ipv6 }}
local_enable={{ local_enable }}
anon_root={{ anon_root }}